<div class="flex">
	<img class="h-12 w-12 object-cover rounded-md" src="{{ url_for('static', filename='profile_pics/' + comment.author.avatar) }}">
	<div class="w-full pl-4">
		<div class="flex border-b-2 border-gray-300">
			<a class="flex-1 text-l font-bold text-sky-500" href="user/{{ comment.author.username }}">{{ comment.author.username}}</a>
			<span class="text-gray-500">{{ comment.date_posted.strftime("%d-%m-%Y %H:%M") }}</span>
		</div>
		<p class="">{{ comment.content }}</>
	</div>
</div>

